/*css-document*/

/*---- TAGS ----*/
body {
  box-sizing: border-box !important;
}

body {
  height: 100%;
}

aside {
  background-color: #343a40;
  position: absolute;
  left: 0;
  width: 40%;
  min-height:100%;
}

aside.collapsed {
  width: 50px;
  padding-right: 3px;
  padding-left: 4px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/**---- SIDEBAR TOP ----**/

#filter-text {
  margin-bottom: 1%;
}

#menu-button {
  color: #fff;
  margin-right: 2%;
  float: right;
}

#menu-button:hover {
  cursor: pointer;
  color: silver;
}

.title {
  color: #fff;
}

#topbar {
  height: 60px;
}

/**---- LOCATION LIST ----**/
#menu-content {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.location-list {
  padding-left: 0;
}

.list-item {
  color: #fff;
  list-style-type: none;
  align: left;
  border: 1px groove rgba(255,255,255,.75);
  border-radius: 3px;
  padding:0.2em;
  padding-right: 1em;
  margin-bottom: 1%;
  cursor: pointer;
}

.list-item:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.list-item:hover {
  border: 2px inset #fff;
}

.fav {
  cursor: pointer;
  float: right;
}

.true {
  color: gold;
}

/**---- MAP ----**/
#map {
  position: fixed !important;
  left: 40%;
  width: 60%;
  height: 100%;
}

#map.full{
  left: 50px;
  width: calc(100% - 50px);
}
